/* .List-item {
  border-bottom: 1px dashed #ccc;
} */

.List-item {
  border: dashed #ccc;
  border-width: 0 0 1px 1px;
}

.List-item:first-child {
  border-width: 1px 1px 1px 1px;
}

.List-item:last-child {
  border-width: 0 1px 1px 1px;
}
